body {
  background-color: lightgray;
}

a {
  text-decoration: none;
  font-size: 15px;
}

a:hover {
  color: red;
  transition: 100ms;
}

header {
  position: fixed;
  border-bottom: 1px solid blue;
}
